@import '../../css/settings';
@import 'utils/legacy-breakpoints';
@import 'utils/mixins';
@import 'base/fonts';

.autocomplete {
  position: relative;

  &__input-container {
    height: 100%;
  }

  &__input {
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 48px;
    border-radius: inherit;

    .--destination & {
      padding-right: 44px;
    }

    .--origin & {
      padding-right: 67px;
    }
  }

  &__input-wrapper {
    &.--error::after {
      position: absolute;
      display: flex;
      align-items: center;
      min-height: 20px;
      left: 0px;
      right: 0px;
      box-sizing: border-box;
      width: 100%;
      bottom: 65%;
      line-height: 1.3;
      padding: 2px 5px 2px 17px;
      background: $of-color-form-error;
      border: 2px solid $of-color-form-error;
      color: #fff;
      font-size: 10px;
      z-index: 2;
      text-transform: uppercase;
      content: attr(data-error-message);
    }
  }

  &__input {
    -webkit-appearance: none;
    border: 0;
    box-sizing: border-box;
    height: 60px;
    line-height: 36px;
    padding: 9px 18px;
    position: relative;
    transition: border-radius 0.3s, width 0.3s;
    box-shadow: inset 0 0 0 2px transparent;
    z-index: 1;
    width: 100%;
    border-radius: inherit;
    @include variable(background-color, --general-block-color, #fff);

    &:focus {
      box-shadow: 0 0 0 2px $of-color-form-orange;
      outline: none;
      z-index: 15;
    }

    .--origin & {
      border-radius: 5px 0 0 5px;

      @include for-small-and-medium {
        border-radius: 5px 0 0 0;
      }
      @include for-xsmall-only {
        border-radius: 5px 5px 0 0;
      }
    }

    .--destination & {
      @include for-small-and-medium {
        border-radius: 0 5px 0 0;
      }
      @include for-xsmall-only {
        border-radius: 0;
      }
    }

    .of_form_part--multiway_origin & {
      @include for-small-and-more {
        border-radius: 5px 0 0 5px;
      }
    }

    .of_form_part--multiway_destination & {
      @include for-small-and-more {
        border-radius: 0;
      }
    }

    .of_main_form--hotel & {
      border-radius: 5px 0 0 5px;

      @include for-small-and-medium {
        border-radius: 5px 5px 0 0;
      }

      @include for-xsmall-only {
        border-radius: 5px 5px 0 0;
      }
    }

    .--error &,
    .--error &:focus {
      box-shadow: 0 0 0 2px $of-color-form-error;
      @include variable(background-color, --error-field-block-color, #fff5f7);
    }

    &::placeholder {
      color: #aeaeae;
      opacity: 1;
      transition: opacity 0.2s ease-out;
    }

    &:focus::placeholder {
      opacity: 0;
      transition: opacity 0.2s ease-out;
    }

    &::-ms-clear {
      display: none;
    }
  }

  &__label {
    @include opensans-light;
    position: absolute;
    left: 18px;
    top: -23px;
    color: #fff;
    opacity: 0;
    transform: translateY(10px);
    transition: transform 0.3s cubic-bezier(1, 0, 1, 0.4), opacity 0.3s linear;
    z-index: 21;
    will-change: transform, opacity;
    font-size: 10px;
    letter-spacing: 1px;
    line-height: 21px;
    text-transform: uppercase;

    @include for-xsmall-only {
      display: none;
    }

    .page_header-header.--compact & {
      display: none;
    }

    .autocomplete__input:focus + &,
    &.--filled {
      opacity: 1;
      transform: translateY(0);
      transition: transform 0.3s cubic-bezier(0, 0.6, 0, 1), opacity 0.3s linear;
    }

    .--error & {
      display: none;
    }
  }

  &__dropdown {
    position: absolute;
    @include variable(background-color, --general-menu-background, #fff);
    @include variable(border, --autocomplete-droprown-border, none);

    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
    border-radius: 0 0 5px 5px;
    z-index: 14;
    width: 320px;
    overflow: hidden;

    .of_form_part--multiway_destination & {
      z-index: 30;
    }
  }

  &__section-title {
    padding: 3px 3px 3px 16px;
    font-size: 10px;
    font-weight: 600;
    @include variable(color, --general-text-color, #4a4a4a);
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 14px;
    @include variable(background-color, --autocomplete-dropdown-title-background, #f1f4f7);
  }

  &__iata {
    display: block;
    position: absolute;
    top: 0;
    color: #90a4ae;
    right: 15px;
    font-size: 0.75rem;
    height: 54px;
    line-height: 3.8125rem;
    pointer-events: none;
    z-index: 3;

    .--origin & {
      right: 20px;

      @include for-xsmall-only {
        right: 15px;
      }
    }

    .of_form_part--multiway_origin & {
      right: 15px;
    }

    .autocomplete__input:focus ~ & {
      z-index: 15;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    position: relative;
    padding: 10px 15px;
    font-size: 14px;
    @include variable(color, --general-text-color, #4a4a4a);
    letter-spacing: 0;
    padding: 10px 10px 10px 14px;
    cursor: pointer;
    -webkit-font-smoothing: antialiased;
    @include variable(border-bottom, --autocomplete-suggestion-border, #dfe5ec);

    &:last-of-type {
      border-bottom: none;
    }

    &.--active {
      @include variable(background-color, --autocomplete-suggestion-hover, #f1fcff);
    }

    &.--anywhere {
      flex-wrap: wrap;
      @include variable(border-top, --autocomplete-suggestion-border, #dfe5ec);
      position: relative;

      .autocomplete__suggestion-info {
        flex-shrink: 0;
        flex-basis: 70%;
      }

      .autocomplete__suggestion-descritption {
        margin-left: 33px;
      }
    }

    &.--indent {
      padding-left: 28px;
    }
  }

  &__suggestion-info {
    padding-right: 29px;
    color: var(--general-text-color, #4a4a4a);
    margin-right: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    line-height: 1.35em;
  }

  &__suggestion-descritption {
    font-size: 12px;
    color: #90a4ae;
    letter-spacing: 0;
    line-height: 12px;
  }

  &__suggestion-highlight,
  &__suggestion-main-name {
    font-size: 14px;
    font-weight: 600;
    @include variable(color, --general-text-color, #4a4a4a);
    letter-spacing: 0;
  }

  &__suggestion-additional {
    color: #90a4ae;

    &.--history,
    &.--anywhere {
      font-size: 12px;
      display: block;
    }
  }

  &__suggestion-hint {
    position: absolute;
    text-align: right;
    font-weight: 600;
    font-size: 12px;
    color: #90a4ae;
    letter-spacing: 0;
    right: 14px;

    &.--hotels-hint {
      width: auto;
      padding-left: 5px;
      top: 10px;
      @include variable(background-color, --general-menu-background, #fff);

      .--active & {
        @include variable(background-color, --autocomplete-suggestion-hover, #f1fcff);
      }
    }
  }

  &__suggestion-wrap {
    display: flex;

    align-items: flex-end;
  }

  &__suggestion-icon {
    margin-right: 10px;
    flex-shrink: 0;
    background-repeat: no-repeat;
    background-size: contain;

    &.--flag {
      width: 21px;
      height: 21px;
    }

    &.--airport {
      background-image: url('./airport.svg');
      width: 21px;
      height: 21px;
      background-position: center;
      background-size: 20px;
      margin-right: 13px;
    }

    &.--history {
      background-image: url('./history.svg');
      width: 24px;
      height: 24px;
      background-position: center;
      background-size: 20px;
    }

    &.--anywhere {
      background-image: url('./anywhere.svg');
      width: 22px;
      height: 21px;
      position: relative;
      left: 2px;
    }
  }
}
