@import '~susy/sass/susy';
@import '../../../common/css/base/variables';
@import '../../../common/css/base/susy';
@import '../../../common/css/base/mixins';
@import '../../../common/css/trumps/helper_classes';

.explosion .prediction {
  flex-grow: 0;
  flex-shrink: 0;
  @include variable(background-color, --general-block-color, #ffffff);
  // border-bottom: 1px solid #E4E7E8;
  @include variable(border-bottom, --prediction-border-bottom, #e4e7e8);
  left: 0;
  right: 0;
  z-index: 3;
  transition: all 0.3s ease-in-out;
  position: relative;

  .--search-expired & {
    transform: translateY(40px);
  }

  &__wrap {
    position: relative;
    height: 80px;

    &.is-hidden {
      display: none;
    }
  }

  &__body {
    width: 100%;
  }

  &__graph {
    width: 100%;

    &.--loader {
      position: relative;

      &::before {
        content: '';
        display: none;
        position: absolute;
        top: 40px;
        left: 0;
        right: 0;
        bottom: 0;
        // background-color: rgba(255,255,255,.8);
        z-index: 3;

        .is-prediction-expanded & {
          display: block;
        }

        .--oneway & {
          top: 0;
        }
      }

      &::after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        top: 25px;
        bottom: 0;
        margin: auto;
        z-index: 4;
        animation: loader-rotate 1s infinite cubic-bezier(0.68, -0.55, 0.27, 1.55);
        height: 20px;
        width: 20px;
        border-radius: 50%;
        border: 2px solid rgba(255, 109, 0, 0.5);
        border-right-color: #ff6d00;
        will-change: transform;

        .--oneway & {
          top: -30px;
        }
      }
    }
  }

  &__canvas {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    // background: #fff; // TODO: Find out that shit
    @include variable(background-color, --general-menu-background, #fff);
    height: 800px;
    transition: transform 0.3s ease-in-out;
    border-bottom: 1px solid #e4e7e8;
    @include variable(border-bottom, --prediction-canvas-border-bottom, #e4e7e8);

    .is-prediction-expanded.is-calendar-graph & {
      transform: translateY($prediction-graph-expanded-height + 60);

      @include for-large-and-more {
        transform: translateY($prediction-graph-expanded-height);
      }
    }

    .is-prediction-expanded.is-calendar-graph.--oneway & {
      transform: translateY($prediction-graph-expanded-height-oneway + 60);

      @include for-large-and-more {
        transform: translateY($prediction-graph-expanded-height-oneway);
      }
    }

    .is-prediction-expanded.is-calendar-matrix & {
      transform: translateY($prediction-matrix-expanded-height + 80);

      @include for-large-and-more {
        transform: translateY($prediction-matrix-expanded-height);
      }
    }

    .is-prediction-expanded.is-calendar-matrix.--oneway & {
      transform: translateY($prediction-matrix-expanded-height-oneway + 70);

      @include for-large-and-more {
        transform: translateY($prediction-matrix-expanded-height-oneway);
      }
    }

    &.is-sticky {
      position: fixed;
    }
  }

  &__expanded {
    @include grid-adaptive;
    overflow: hidden;
    height: 79px;
    animation: animation-delayed-overflow-out both 0.3s;
    padding-bottom: 50px;

    .is-prediction-expanded & {
      animation: animation-delayed-overflow-in both 0.3s;
      // overflow: visible;
      height: auto;
    }
  }

  // Expanded styles
  &__expanded-inner {
    padding-top: 30px;
    margin-bottom: 35px;
    transform: translateY(-129px);
    transition: transform 0.3s ease-in-out;
    margin: auto;
    position: relative;
    z-index: 2;

    .--oneway & {
      transform: translateY(-77px);
    }

    .is-prediction-expanded & {
      transform: translateY(50px);

      @include for-large-and-more {
        transform: translateY(0);
      }
    }
  }

  &__expanded-header {
    font-size: 16px;
    @include variable(color, --general-text-color, #4a4a4a);
    font-weight: 600;
    text-align: center;
    margin-bottom: 12px;
  }

  &__search-button {
    background: #ff6d00;
    box-shadow: 0px 1px 0px 0px #d64d08, 0px 2px 1px 0px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    font-size: 16px;
    padding: 10px 25px;
    color: #ffffff;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 35px;
    opacity: 1;
  }

  &__summary {
    font-size: 12px;
    @include variable(color, --general-text-color, #4a4a4a);
    text-align: center;
    opacity: 0;
    transition: opacity 0.2s ease, transform 0.25s ease-in-out;
    will-change: opacity, transform;
    transform: translateY(-200px);

    strong {
      font-weight: 600;
      margin-left: 10px;

      &:first-child {
        margin-left: 0;
      }
    }

    .is-prediction-expanded & {
      opacity: 1;
      transition: opacity 0.2s 0.1s ease-out, transform 0.2s 0.1s ease-out;
      transform: translateY(0);
    }
  }

  &__passengers-note {
    color: gray;
    padding-left: 10px;
  }

  // Error styles
  &__error {
    padding-top: 30px;
    display: none;

    .is-prediction-expanded & {
      display: block;
    }
  }

  &__error-image {
    display: block;
    width: 0%;
    margin: auto;
    position: relative;
    padding: 45px;

    .--server-error & {
      background: url('../../../common/images/errors/sad-browser.png') 10px 30px no-repeat;
    }

    .--connection-error & {
      background: url('../../../common/images/errors/no-internet.svg') 10px 30px no-repeat;
    }
  }

  &__error-message {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.67;
    text-align: center;
    @include variable(color, --general-text-color, #4a4a4a);
    margin-bottom: 10px;
  }

  &__error-body {
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    @include variable(color, --general-text-color, #4a4a4a);
    line-height: 150%;
  }

  &__error-button {
    display: block;
    width: 193px;
    margin: auto;
    background: #ff6d00;
    box-shadow: 0px 1px 0px 0px #d64d08, 0px 2px 1px 0px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    font-size: 16px;
    padding: 10px 25px;
    color: #ffffff;
    font-weight: 600;
    margin-top: 25px;
  }

  &__notice {
    position: absolute;
    bottom: 25px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 12px;
    color: #a4b0b9;
    opacity: 0;
    transition: opacity 0.2s ease, transform 0.25s ease-in-out;

    .--oneway & {
      left: 40px;
    }

    .is-prediction-expanded & {
      opacity: 1;
    }
  }

  @include for-medium-and-less {
    display: none;
  }
}

@keyframes loader-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
