$border-radius: 5px;
$border-radius-input: 4px;
$font-color: #262626;

$tablet-submit-width: 49;

$of-color-body: #e4eef8;
$of-color-font: #5b5b5b;
$of-color-form-gray: #1b91b6;
$of-color-form-gray-light: #90a4ae;
$of-color-form-orange: #ff6d00;
$of-color-form-orange-hard: #d15d0a;
$of-color-form-error: #ff6663;
$of-color-form-placeholder: #949494;
$of-color-form-submit-focus: #ffa353;

$of-color-input-dropdown-border: #ccc;

$of-color-input-number-border: #ccc;
$of-color-input-number-bg: #f4f4f4;
$of-color-input-number-focus: #f8f8f8;
$of-color-input-number-font: #999;
$of-color-input-number-font-focus: #949494;
$of-color-input-number-border-disabled: #ccc;
$of-color-input-number-font-disabled: #d7d7d7;

$of-color-trip-switcher: #ccc;

$of-color-suggest-focus: #e5f9ff;
$of-color-suggest-even: #f2f2f2;
$of-color-suggest-border: #e3e3e3;
$of-color-suggest-text: #4a4a4a;
$of-color-suggest-iata: #90a4ae;

$of-color-pika-border: #e1e1e1;
$of-color-pika-day-of-week: #999;
$of-color-pika-day: #e7f9ff;
$of-color-pika-day-selected: #20a6cb;
$of-color-pika-day-range: #ffe7d3;
$of-color-pika-day-range-border: #fed0a9;
$of-color-pika-disabled: #e1e1e1;
$of-color-pika-button: #fd8a27;

$of-page-width: 1134px;
$of-page-height: 700px;

$datepicker-progress-bar-time: 0.5s;
