.spinner {
  display: block;
  width: 45px;
  height: 45px;
  z-index: 2;

  &__svg {
    animation: rotate 2s linear infinite;
    width: 100%;
    height: 100%;
  }

  &__circle {
    stroke: #2196f3;
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
    stroke-width: 4px;
  }

  &.--white {
    .spinner__circle {
      stroke: #fff;
    }
  }

  &.--size {
    &-s {
      width: 37px;
      height: 37px;

      .spinner {
        &__circle {
          stroke-width: 3px;
        }
      }
    }
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }

  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}
