@import './variables.scss';

.select-list {
  $b: &;
  $scrollbar-width: 5;
  $scrollbar-right-margin: 3;
  $list-item-side-padding: 20;

  padding: 0;
  margin: 0;
  list-style: none;
  user-select: none;
  background-color: inherit;

  &__item {
    font-size: 14px;
    line-height: 1.43;
    margin: 0;
    padding: 10px #{$list-item-side-padding}px;
    position: relative;
    display: flex;
    transition-property: color, background-color;
    transition-duration: 0.3s;

    &:hover:not(.--is-selected) {
      cursor: pointer;
      color: $brand-blue-color;
      @include variable(background-color, --select-list-hover-bg-color, #f0fafe);

      #{$b}__extra {
        opacity: 1;
        visibility: visible;

        span {
          @include variable(background-color, --select-list-hover-bg-color, #f0fafe);
          @include variable(box-shadow, --select-list-extra-shadow-hover, -5px 0 10px #f0fafe);
        }
      }
    }

    &.--is-selected {
      color: $brand-blue-color;
    }
  }

  &__label {
    padding: 0;
    margin: 0 20px 0 0;
    text-transform: uppercase;
  }

  & &__flag {
    display: block;
    width: 20px;
    height: 20px;
  }

  &__text {
    padding: 0;
    margin: 0;
    flex: 1;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__check {
    margin: 0 5px 0 20px;
  }

  &__extra {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 0.05em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s;

    span {
      padding: 0 20px;
      @include variable(background-color, --select-list-bg-color, #fff);
      @include variable(box-shadow, --select-list-extra-shadow, -5px 0 10px #fff);
      transition: all 0.3s;
    }

    &:hover {
      color: inherit;
      text-decoration: none;
    }

    .--is-mobile & {
      visibility: visible;
      opacity: 1;
    }
  }

  &.--currency {
    // отступ справа чтобы скрол не прилипал к краю
    margin-right: #{$scrollbar-right-margin}px;
    max-height: 475px;
    height: calc(100vh - 140px);
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
      width: #{$scrollbar-width}px;

      &-track {
        background-color: transparent;
        border: 0;
        box-shadow: none;
      }

      &-thumb {
        background-color: #bbb;
        border-radius: 5px;
        opacity: 0.5;
        transition: 0.3s opacity;

        &:window-inactive {
          opacity: 0;
        }

        &:hover {
          opacity: 1;
        }
      }
    }

    #{$b}__label {
      min-width: 32px;
      margin-right: 20px;
      text-align: center;
    }

    #{$b}__item {
      // выравнивание галочки с другими табами без скрола
      padding-right: #{$list-item-side-padding - ($scrollbar-width + $scrollbar-right-margin)}px;
    }
  }

  &.--language {
    #{$b}__label {
      min-width: 21px;
      margin-right: 20px;
    }
  }

  @include for-xsmall-only {
    &.--currency {
      max-height: 100%;
      height: auto;
    }
  }
}
